

<style >

/* <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> */

html {
  scroll-behavior:auto;
}

.header{
  font-size: 25px;
  height: 10vh;
  font-weight:bolder;
  color: aqua;
  /* background-color:  #222222; */
 }
/* .contact-icon {
 width: 1rem;
 height: 1rem;
 color: #dbdbdb;
 } */
body{
   margin: 0;
   padding: 0;
   line-height: 3em;
   color: white;
   
  }
.main-screen {
 position: absolute;
 /* maxheight: 100%; */
 width: 100%;
    padding: 1rem;
 margin-left: 6rem;	  
 padding-right: 6rem;
 /* float: right; */
  font-size: 6mm;
/* left: 2rem;*/
/* background-image: url("bg-masthead.jpg");  */
background-size: 100%;
background-image:cross-fade() ;
background-repeat: no-repeat;
background-color: #000000;
  }
#navbar{
  /* color: turquoise; */
   background-color:  #222222;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   height: 100%;
   width: 6rem;
   position:fixed;
   transition: width .25s;

}
.profile-sec-1{
 font-family: 'Lato', sans-serif;
  /* font-family: 'Roboto', sans-serif; */
 color: white;
 font-size: 6mm;
 max-width: 65%;
 border-right: 8px solid #e50914;
 margin-bottom: 5rem;
  }
#contentwrap{
 float: left;
 margin: 20px;
 width: 100%;
}
.text{
  color:  white;
  font-size: 5mm;
  margin-bottom: 5rem;
}
#footer{
  clear: left;
  width: 100%;
  background: black;
  color: #FFF;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 5px;
}
/* Navigation Bar */
ul{  width: 6rem;
  list-style-type: none;
  margin: 1px;
  padding: 3px;
  background-color: #000;
}
li {
  float: center;
  /* border: 1px solid #bbb; */
}

li a{
  display: flexbox;
  color: white;
  text-align: center;
  padding: 14pxx 16px;
  text-decoration: none;
}
li a:hover:not(.active) {
  background-color: #222222;;
}
.active{
  background-color:  #444242;
}

/* .skill {
width: 21rem;
height: 2.5rem;
margin-bottom: 3rem;
background-color: black;
border-radius: 10px;
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
box-shadow: 5px 5px 5px -5px rgb(255 255 255 / 25%);
transition: background-color .3s, border .3s, transform .3s;
} */
.row{
   min-width: 50%;
}
#skill-box{
   max-width: 40%;
}
.progress{
   width: auto;
}
</style>
